table {
  width: 100%;
  border: 1px solid #666;
  border-collapse: collapse;

  > {
    thead > tr > th,
    tbody > tr > td {
      padding: 0.25rem 0.5rem;
      border: 1px solid #666;
    }
  }
}

.tool-bar {
  &__show,
  &__search {
    label {
      min-width: 70px;
      line-height: 50px;
    }
    select {
      min-width: 80px;
    }
  }
}

.pagination > {
  li > {
    a {
      background-color: white;
      color: black;

      &:focus,
      &:hover {
        color: black;
        background-color: #eee;
        border-color: #ddd;
      }
    }

    span {
      &:focus,
      &:hover {
        color: black;
        background-color: #eee;
        border-color: #ddd;
      }
    }
  }

  .active > a {
    color: white;
    background-color: black !important;
    border: solid 1px black !important;

    &:hover {
      background-color: black !important;
      border: solid 1px black;
    }
  }
}

label.error {
  position: absolute;
  left: 0%;
  top: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  color: #dc3545;
}

.tw-15 {
  width: 15%;
}

.tw-25 {
  width: 25%;
}

.tw-30 {
  width: 30%;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
@media only screen and (max-width: 992px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .table > :not(:first-child) {
    border-top: 2px solid transparent !important;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #aaa !important;
    display: list-item !important;
    list-style-type: none;
  }

  td {
    border: 1px solid transparent !important;
    position: relative;
    padding-left: 50% !important;
    text-align: left !important;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  td:nth-of-type(1):before {
    content: "English Name";
    // color: #0e9893;
  }
  td:nth-of-type(2):before {
    content: "Email";
    // color: #0e9893;
  }
  td:nth-of-type(3):before {
    content: "Phone";
    // color: #0e9893;
  }
  td:nth-of-type(4):before {
    content: "Date";
    // color: #0e9893;
  }
}
